In [1]:
import pandas as pd
import requests
import time

# Art Basel

In [2]:
df_cleaned = pd.read_csv('cleaned_basel_data.csv')
# convert time-columns into type: datetime64[ns, UTC]
df_cleaned['FirstActivityTime'] = pd.to_datetime(df_cleaned['FirstActivityTime'])
df_cleaned['LastActivityTime'] = pd.to_datetime(df_cleaned['LastActivityTime'])

In [3]:
# Only contains adresses that was created during Art-Basel Miami (2021-11-30 to 2021-12-04) 
df_basel = df_cleaned[(df_cleaned['FirstActivityTime'] >= '2021-11-30') & (df_cleaned['FirstActivityTime'] <= '2021-12-04')]
df_basel = df_basel.drop(columns=['Unnamed: 0'])

In [4]:
print(df_basel.shape)
print(df_basel[df_basel['Address'].str.contains('tz2')].shape)

(1875, 6)
(1869, 6)

In [5]:
# Active addresses from Art Basel
df_basel[(df_basel['Balance'] > 0) & (df_basel['NumTransactions'] > 1) & 
         (df_basel['Revealed'] == True) & (df_basel['Address'] != 'tz1dvHfCFsEt5QCNoVgKGqaK211C4ciNEVvK')].describe()

            Balance  NumTransactions
count  2.400000e+01        24.000000
mean   4.455814e+07       138.083333
std    1.761694e+08       510.837328
min    1.000000e+00         2.000000
25%    5.103990e+05         5.000000
50%    2.687772e+06        20.500000
75%    1.384859e+07        40.500000
max    8.688906e+08      2528.000000

In [6]:
df_basel[(df_basel['Revealed']==True) & (df_basel['Address'].str.contains('tz1'))].sort_values(by=['NumTransactions'], ascending=False)

,Address,Revealed,Balance,NumTransactions,FirstActivityTime,LastActivityTime
10,tz1dvHfCFsEt5QCNoVgKGqaK211C4ciNEVvK,True,13358862,5346,2021-11-30 03:53:18+00:00,2022-04-08 03:48:59+00:00
49,tz1Y1zRiVkPtZ2S6BeMFGQNYBHLX7ghRLu6E,True,16446611,23,2021-12-02 18:20:34+00:00,2022-02-19 14:33:00+00:00
22,tz1LaEMAWhdNivc9GehK9TahJQnZcex8BeEM,True,1,2,2021-12-03 16:03:24+00:00,2021-12-16 01:55:16+00:00

In [7]:
df_basel[(df_basel['Balance'] > 0) & (df_basel['NumTransactions'] > 1) &
        (~df_basel['Address'].isin(['tz1dvHfCFsEt5QCNoVgKGqaK211C4ciNEVvK']))].sort_values(by=['NumTransactions'], ascending=False)

,Address,Revealed,Balance,NumTransactions,FirstActivityTime,LastActivityTime
1614,tz2MWg6zmBScnYhdX6gPYUBDBTZTCrTgbq9f,True,3602759,2528,2021-12-02 21:26:04+00:00,2022-03-31 11:36:44+00:00
392,tz2B7c5aTPMBKZ1LffnJje1eQESRiTphS67f,True,557843,142,2021-12-01 15:23:24+00:00,2022-03-20 03:29:54+00:00
1243,tz2JVE7aafLTPSWKWJTsHUxPDP2GM56bumvp,True,29120642,133,2021-12-03 17:43:14+00:00,2022-03-18 23:33:04+00:00
516,tz2Ca9unrTrHdMgP6c7em3or7NEXezx71RjW,True,200398,112,2021-12-02 20:36:14+00:00,2022-04-07 18:24:44+00:00
1652,tz2NFESDvbDLzeQCe43JXusQZV6c8v5a5vPK,True,868890567,88,2021-12-01 09:56:44+00:00,2022-04-07 21:17:44+00:00
2467,tz2VWS8ysYtrmGGd6D9ckUjnnTbj32noDDua,True,5154459,75,2021-11-30 21:15:58+00:00,2022-04-07 21:19:29+00:00
2254,tz2TWs1ge69bFg4wZ8CDcrRKL4ZNCmD5qrDR,True,535647,29,2021-12-02 19:58:14+00:00,2022-03-15 21:25:14+00:00
96,tz28qTF85jVbsRnp6hAVbzG4E4JpUG2RVN95,True,1772784,28,2021-12-02 20:08:14+00:00,2022-03-29 15:18:34+00:00
395,tz2B8wVFTQ9YJdgojYdKGiVktvYuuLubduWb,True,232028,27,2021-12-02 19:05:34+00:00,2022-02-01 01:33:18+00:00
1641,tz2NAzkxj8NnDEoxfNxS8CegdC4jRHz5AHWU,True,60345447,26,2021-12-03 16:48:34+00:00,2022-04-07 00:21:29+00:00
49,tz1Y1zRiVkPtZ2S6BeMFGQNYBHLX7ghRLu6E,True,16446611,23,2021-12-02 18:20:34+00:00,2022-02-19 14:33:00+00:00
1756,tz2PEQ4hGruA9xoCs639SzNotahm93u75NZf,True,3877112,21,2021-12-02 19:37:14+00:00,2021-12-08 21:53:20+00:00
1610,tz2MVqj7YNX3dzNNZeGpmLQxzfeYPD8dMTJ7,True,33709218,20,2021-11-30 15:48:18+00:00,2022-03-13 00:34:24+00:00
2370,tz2V1vQ7imMCQoeNs5umHYL4113eReZQRYsV,True,684769,17,2021-11-30 12:16:08+00:00,2022-03-11 07:54:14+00:00
2585,tz2WVn5Ps5gYqkFtL8vjScpEs7g6Wj4Mjiab,True,875217,13,2021-11-30 14:36:38+00:00,2022-03-12 17:16:24+00:00
1322,tz2Kfde1MRtrib6pJsMGB5fB7dpndWviSHky,True,17323076,8,2021-11-30 13:55:08+00:00,2021-12-16 02:31:06+00:00
1521,tz2M8X5RR4Aue2GMvtwVqLcwn5uuHTDkSkHp,True,4978340,6,2021-12-02 19:53:44+00:00,2022-03-31 17:18:24+00:00
1301,tz2KAfW6DzaCRFcjvBJGs5nzEBX43HHunpV3,True,7046917,6,2021-12-03 22:19:14+00:00,2022-03-04 23:30:04+00:00
1377,tz2KUseTZtus8cjZTuV6fu7HYEgegPTb9SJN,True,45535,2,2021-11-30 13:53:38+00:00,2021-11-30 14:17:08+00:00
1887,tz2Qj2FwNmMmvvYsN91owT56gRCQFSoxSiEi,True,499164,2,2021-12-02 18:36:34+00:00,2021-12-08 17:17:10+00:00
2355,tz2UXF2pGUdW7PX4fCFnNUV5qev8f2smB8rz,True,514144,2,2021-12-01 21:17:24+00:00,2021-12-01 21:35:54+00:00
956,tz2GAGDWQhRaTGQDtbKghBwW15Mckxk8Pyjp,True,1,2,2021-12-03 20:13:54+00:00,2021-12-04 23:57:50+00:00
823,tz2F961M8TLknwJzu4XHPWG9Xn2iM7LkWm5o,True,12982586,2,2021-12-03 19:52:34+00:00,2022-01-08 18:54:40+00:00
22,tz1LaEMAWhdNivc9GehK9TahJQnZcex8BeEM,True,1,2,2021-12-03 16:03:24+00:00,2021-12-16 01:55:16+00:00

# Below the code is not cleaned up yet

In [2]:
df = pd.read_csv('raw_art_basel.csv')

In [3]:
cleaned_basel = pd.read_csv('cleaned_basel_data.csv')

In [4]:
type(cleaned_basel['FirstActivityTime'].loc[2682])

str

In [5]:
cleaned_basel.tail()

,Unnamed: 0,Address,Revealed,Balance,NumTransactions,FirstActivityTime,LastActivityTime
2678,2678,tz1XJ8KCZKTGcusVM8etTLPBHhKas9UvxjKv,False,351000000,3,2022-02-05T20:26:54Z,2022-02-19T14:31:30Z
2679,2679,tz1bz3RpamvkvNCLfsjN22VCqs4LCVrFnNEB,True,283490614,24344,2021-09-12T06:42:02Z,2022-04-07T15:15:44Z
2680,2680,tz1Lu3SXts97DC76unSBkeyZJfZdxz8yFmwy,True,3659578,560,2021-10-07T21:34:12Z,2022-04-03T19:56:44Z
2681,2681,tz1ZfzrEiBWK4bJHedabk6qivJ62Q5YEEgGU,True,28943734,595,2021-04-25T18:02:24Z,2022-02-19T00:36:30Z
2682,2682,tz1NCPD1dD6ZutDDD4akb2P13eSpGe6jQAvL,True,12875337,7888,2021-05-06T15:15:45Z,2022-04-07T17:34:29Z

In [6]:
cleaned_basel.dtypes

Unnamed: 0            int64
Address              object
Revealed               bool
Balance               int64
NumTransactions       int64
FirstActivityTime    object
LastActivityTime     object
dtype: object

In [7]:
cleaned_basel['FirstActivityTime'] = pd.to_datetime(cleaned_basel['FirstActivityTime'])

In [8]:
t = cleaned_basel[(cleaned_basel['FirstActivityTime'] >= '2021-11-30') & (cleaned_basel['FirstActivityTime'] <= '2021-12-04')]
print(t.shape)

(1875, 7)

In [9]:
display(t[t['NumTransactions'] >= 5346])
display(t[t['Balance'] >= 8.688906e+07])

,Unnamed: 0,Address,Revealed,Balance,NumTransactions,FirstActivityTime,LastActivityTime
10,10,tz1dvHfCFsEt5QCNoVgKGqaK211C4ciNEVvK,True,13358862,5346,2021-11-30 03:53:18+00:00,2022-04-08T03:48:59Z

,Unnamed: 0,Address,Revealed,Balance,NumTransactions,FirstActivityTime,LastActivityTime
1652,1652,tz2NFESDvbDLzeQCe43JXusQZV6c8v5a5vPK,True,868890567,88,2021-12-01 09:56:44+00:00,2022-04-07T21:17:44Z

In [10]:
# t.describe([['Balance', 'NumTransactions']])
print(t[(t['Revealed'] == True) & (t['NumTransactions'] > 1) & (t['Address'] !='tz1dvHfCFsEt5QCNoVgKGqaK211C4ciNEVvK')].describe(), '\n')
print(t[(t['Balance'] > 0)].describe(), '\n')
print(t[t['NumTransactions'] > 0].describe())

        Unnamed: 0       Balance  NumTransactions
count    24.000000  2.400000e+01        24.000000
mean   1341.833333  4.455814e+07       138.083333
std     792.271235  1.761694e+08       510.837328
min      22.000000  1.000000e+00         2.000000
25%     746.250000  5.103990e+05         5.000000
50%    1449.000000  2.687772e+06        20.500000
75%    1788.750000  1.384859e+07        40.500000
max    2585.000000  8.688906e+08      2528.000000

        Unnamed: 0       Balance  NumTransactions
count    33.000000  3.300000e+01        33.000000
mean   1296.212121  3.456863e+07       262.666667
std     865.510679  1.504915e+08      1011.843882
min      10.000000  1.000000e+00         1.000000
25%     516.000000  5.141440e+05         2.000000
50%    1322.000000  1.772784e+06         8.000000
75%    1887.000000  1.298259e+07        28.000000
max    2677.000000  8.688906e+08      5346.000000

        Unnamed: 0       Balance  NumTransactions
count    33.000000  3.300000e+01        33.000000
mean   1296.212121  3.456863e+07       262.666667
std     865.510679  1.504915e+08      1011.843882
min      10.000000  1.000000e+00         1.000000
25%     516.000000  5.141440e+05         2.000000
50%    1322.000000  1.772784e+06         8.000000
75%    1887.000000  1.298259e+07        28.000000
max    2677.000000  8.688906e+08      5346.000000

In [30]:
df['level_timestamp'] = pd.to_datetime(df['level_timestamp'])
print(df.dtypes)

tx_context_id                                        int64
id                                                   int64
idx_assets_address                                  object
idx_assets_nat                                       int64
assets_nat                                           int64
bigmap_id                                            int64
level                                                int64
level_timestamp       datetime64[ns, pytz.FixedOffset(60)]
dtype: object

In [37]:
df[(df['level_timestamp']>='2021-11-30') & (df['level_timestamp']<='2021-12-04')].shape

(3197, 8)

In [35]:
df.sort_values(['level_timestamp']).head(5)

,tx_context_id,id,idx_assets_address,idx_assets_nat,assets_nat,bigmap_id,level,level_timestamp
2444,3127,3144,tz2KUseTZtus8cjZTuV6fu7HYEgegPTb9SJN,239152298494257,1,44847,1907194,2021-11-30 14:53:38+01:00
2443,3103,3120,tz2KUseTZtus8cjZTuV6fu7HYEgegPTb9SJN,190551754522584,1,44847,1907196,2021-11-30 14:54:38+01:00
1628,3019,3072,tz2FvD9kwbtyhsoHShbawy5ptFaJSZmfAzo3,84236142601520,1,44847,1907198,2021-11-30 14:55:38+01:00
3539,3017,3054,tz2Sa6btee3smfYy5TbMtQQfZPU69BrzDq4M,259050818936049,1,44847,1907198,2021-11-30 14:55:38+01:00
2445,3015,3036,tz2KUseTZtus8cjZTuV6fu7HYEgegPTb9SJN,239993519131547,1,44847,1907198,2021-11-30 14:55:38+01:00

In [5]:
df_no_duplicates = df.drop_duplicates(subset='idx_assets_address')

In [6]:
print(df.shape)
print(df_no_duplicates.shape)

(4646, 8)
(2685, 8)

In [7]:
df_no_duplicates.head()

,tx_context_id,id,idx_assets_address,idx_assets_nat,assets_nat,bigmap_id,level,level_timestamp
0,113507,113522,KT1FvqJwEDWb1Gwc55Jd1jjTHRVWbYKUUpyq,20313230816193,1,44847,1929237,2021-12-09 00:12:10+01
13,50808,50817,tz1a2ZeWmyNQ8BiuFNTE4vmFEP9MBaP76QPX,105121986262151,1,44847,1913594,2021-12-02 22:10:54+01
16,113642,113650,tz1aCzsYRUgDZBV7zb7Si6q2AobrocFW5qwb,55289408087137,1,44847,1932446,2021-12-10 04:45:10+01
17,45259,45330,tz1aFuBaXXWjHK5n3GAqa4SL2btTnuZcnxkf,3748653744502,1,44847,1913412,2021-12-02 20:38:44+01
20,3804,3915,tz1arY7HNDq17nrZJ7f3sikxuHZgeopsU9xq,205592739575755,1,44847,1907480,2021-11-30 17:26:38+01

In [8]:
df_no_duplicates.sort_values(by=['level'], ascending=True).head()

,tx_context_id,id,idx_assets_address,idx_assets_nat,assets_nat,bigmap_id,level,level_timestamp
2441,2887,2904,tz2KUseTZtus8cjZTuV6fu7HYEgegPTb9SJN,7125005331388,1,44847,1907199,2021-11-30 14:56:08+01
3522,2845,2880,tz2Sa6btee3smfYy5TbMtQQfZPU69BrzDq4M,20293158508664,1,44847,1907203,2021-11-30 14:58:08+01
4057,2267,2286,tz2V65zWQndYMdsnXA1YzGnTsz9G47Vxy9B8,187588005035666,1,44847,1907226,2021-11-30 15:09:38+01
209,2027,2058,tz1WWcuiKUN4Ed5zouETqr7MbVzd3vkC4ubr,156757186422348,1,44847,1907233,2021-11-30 15:16:08+01
1436,3161,3196,tz2EXiTeJs2pjHQkCkq6U3LCW2RMxJURk9gj,7013485372027,1,44847,1907279,2021-11-30 15:39:08+01

In [9]:
df_no_duplicates.dtypes

tx_context_id          int64
id                     int64
idx_assets_address    object
idx_assets_nat         int64
assets_nat             int64
bigmap_id              int64
level                  int64
level_timestamp       object
dtype: object

In [10]:
list_idx_assets_address = df_no_duplicates['idx_assets_address'].to_list()

In [12]:
list_idx_assets_address[3:6]

['tz1aFuBaXXWjHK5n3GAqa4SL2btTnuZcnxkf',
 'tz1arY7HNDq17nrZJ7f3sikxuHZgeopsU9xq',
 'tz1aUMEc45yXuCKEnMa3v4sdSsacivYHZVLP']

In [13]:
len(list_idx_assets_address)

2685

In [14]:
list_idx_assets_address[:20]

['KT1FvqJwEDWb1Gwc55Jd1jjTHRVWbYKUUpyq',
 'tz1a2ZeWmyNQ8BiuFNTE4vmFEP9MBaP76QPX',
 'tz1aCzsYRUgDZBV7zb7Si6q2AobrocFW5qwb',
 'tz1aFuBaXXWjHK5n3GAqa4SL2btTnuZcnxkf',
 'tz1arY7HNDq17nrZJ7f3sikxuHZgeopsU9xq',
 'tz1aUMEc45yXuCKEnMa3v4sdSsacivYHZVLP',
 'tz1aWfPVaATZpBtR4kFBVvk1HEAGACA8D1xs',
 'tz1cg2GWoDBKNSPEZCsCPcCXEYKbMHALDHGR',
 'tz1cYjVYS5Eg4iEDWT6Pk24sndjG4f2ivrR5',
 'tz1dfEdnVrijrkdmGE7bkwRpPjK2eKKjEZXt',
 'tz1duJ7YyKQj6nsoK6pVPWqmzHvbjhibyefA',
 'tz1dvHfCFsEt5QCNoVgKGqaK211C4ciNEVvK',
 'tz1dyYkmuTgApeMWrG5VtfuYHDwV11LKhZw7',
 'tz1eBSihYigs9oV9VFxjecbyuSMsX4WAf4T4',
 'tz1fdv4qjH467zGFJycBA1wX7kXgMdKSHfeq',
 'tz1g9g12aQsub9gqJ19M512WFcNeP8sdbdr2',
 'tz1gjmXcUvmAgDtasiexgfGZsKFYyQwHpzWg',
 'tz1hb9PiWxQEf6J9xevPsUM6dkuCLnhDMvsp',
 'tz1hyNv7RBzNPGLpKfdwHRc6NhLW6VbzXP3N',
 'tz1i7tKfmok8uX9VhaZZSoxbMGVYgXcPSb6U']

In [15]:
tl = ['tz2KUseTZtus8cjZTuV6fu7HYEgegPTb9SJN', 'tz2Sa6btee3smfYy5TbMtQQfZPU69BrzDq4M', 'tz2V65zWQndYMdsnXA1YzGnTsz9G47Vxy9B8']

In [17]:
address = []
revealed = []
balance = []
numTransactions = []
firstActivityTime = []
lastActivityTime = []
n = 0
for tz_address in list_idx_assets_address:
    user_data = requests.get(f"https://api.tzkt.io/v1/accounts/{tz_address}").json()
    if ('type' in user_data.keys() and user_data['type']=='user'):
        address.append(user_data['address'])
        revealed.append(user_data['revealed'])
        balance.append(user_data['balance'])
        numTransactions.append(user_data['numTransactions'])
        firstActivityTime.append(user_data['firstActivityTime'])
        lastActivityTime.append(user_data['lastActivityTime'])
    n+=1
    time.sleep(10)
data = {'Address': address, 'Revealed': revealed, 
        'Balance': balance, 'NumTransactions': numTransactions, 
        'FirstActivityTime': firstActivityTime, 'LastActivityTime': lastActivityTime}

ConnectionError: HTTPSConnectionPool(host='api.tzkt.io', port=443): Max retries exceeded with url: /v1/accounts/tz2K35aXwvFP33zVUtxTH9hrKsyBM4HfKs6h (Caused by NewConnectionError('<urllib3.connection.HTTPSConnection object at 0x7f89081a31c0>: Failed to establish a new connection: [Errno 60] Operation timed out'))

In [1]:
df_activity = pd.DataFrame(data)

NameError: name 'pd' is not defined

In [ ]:
df_activity.shape

In [ ]:
df_activity